.container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 10px;

  .offerType {
    margin-bottom: 20px;

    .offerTypeText {
      margin-bottom: 5px;
    }
  }

  .filter {
    .text {
      font-weight: 600;
      font-size: 15px;
    }
  }
}

.hotelFilterContainer {
  .label {
    margin-bottom: 10px;
  }
}
