.contianer {
    color: #fff;
    padding: 8px 16px;
    height: 156px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

.no {
    padding: 8px 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    height: 156px;
}